html
{
	height: 100vh;
}
body
{
	background-image: url(../images/404.jpg);
	background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url();
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.sg-relative
{
	position: relative;
}
.sg_main-content
{
	width: 90%;
	align: center;
}
.sg-image-padding
{ 
	margin: 3px 6px 3px 3px ;
  display: block;
	border: pink;
}
.sg-content-card
{
	width: 35%;
	float: left;
	display: inline-block;
  padding-left: 4px;
  margin: 5px 0px 5px 10px;
}